body{

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.light{

    background-color: whitesmoke;
    color: black;
    height: 400px;
    padding: 40px;
}

.dark{
    background-color: black;
    color: whitesmoke;
    height: 400px;
    padding: 40px;
}